{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            {% if user.is_authenticated %}
                <h2>Add calls for {{ project.name }}</h2>
                <a class="btn btn-success"href="{% url 'add_calls' %}" role="button">Successful</a>
                <a class="btn btn-danger"href="{% url 'add_calls' %}" role="button">Unsuccessful</a>
            {% else %}
                <h1>Please log in to see your Dashboard</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}