{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            {% if user.is_authenticated %}
                <h2>{{ project.name }}</h2>
                <p>Date Created: {{ project.date_creation }}</p>
                <p>Last Updated: {{ project.date_updated }}</p>
            {% else %}
                <h1>Please log in to see your Dashboard</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}